pytorch-lightning==1.9.4
flake8
black
jupyter
ipykernel
pandas
numpy
hydra-core
matplotlib
seaborn
tqdm
torchmetrics
transformers==4.26.1
scipy
pytest
fire
jiwer
datasets
accelerate
wandb
einops
# irrcac
scikit-learn